In [1]:
# Importar librerías
import pandas as pd
import os

# Establecer directorio de trabajo
os.chdir("/Users/adrianamedrano/Documents/Ariana/Residencias/PrototipoResidencias/DataSets")

# Leer archivos CSV
df_clin = pd.read_csv('Clin.txt', encoding='latin1')
df_clind = pd.read_csv('Clind.txt', encoding='latin1')
df_articulos = pd.read_csv('Articulos.txt', encoding='latin1')
df_clientes = pd.read_csv('Clientes.txt', encoding="latin1")

# Mergear dataframes por campo Nummov 
df_clind = pd.merge(df_clind, df_clin[['Nncre','Fecncre','Estado', 'Clacli']],
                    on='Nncre', 
                    how='left',
                    suffixes=('','_Clin'))

# Mergear con el dataframe df_clientes por campo Clacli
df_clind = pd.merge(df_clind, df_clientes[['Clacli', 'Clatipcli']],
                    left_on='Clacli',
                    right_on='Clacli',
                    how='left')

# Filtrar por Estado = 'yes'
df_clind = df_clind[df_clind['Estado_Clin'] == 'yes'][['Claart', 'Fecncre', 'Cant', 'Clacli', 'Clatipcli','Numfac']]
df_clind

          Claart   Fecncre   Cant    Clacli  Clatipcli    Numfac
0      03PERC050  31/08/20    2.8   MRS2043          0  ZI030414
1       03VCUA12  31/08/20   15.6   MRS2043          0  ZI030414
2       04HBISL3  31/08/20    6.0   MRS2043          0  ZI030414
3       06PIJ834  31/08/20  200.0   MRS2043          0  ZI030414
4     01CEMCAZ50  07/04/16  300.0     API14          0  ZI000060
...          ...       ...    ...       ...        ...       ...
4439    01ARM204  09/11/23    3.0    SORI82          1  ZI098508
4440    01ARM124  09/11/23   11.0   MRS2043          0  ZI098563
4441     03TC401  11/11/23    0.5  MRSZI170          0  ZI098643
4442    01CEMBIG  13/11/23    2.0  MRSZI046          0  ZI097803
4443       GTRAS  13/11/23    1.0  MRSZI046          0  ZI097803

[4369 rows x 6 columns]

In [2]:
condicion = df_clind['Clatipcli'].isin([4, 5, 8])
registros_eliminados = df_clind[condicion].copy()
df_clind = df_clind[~condicion] 
print("Registros eliminados:")
registros_eliminados

Registros eliminados:

           Claart   Fecncre   Cant    Clacli  Clatipcli    Numfac
31      04HSO1818  13/05/16   40.0     PAP07          4  ZI000399
33     01CEMCAZ50  20/05/16  160.0     UAS23          4  ZI000092
34     01CEMMCA50  20/05/16  200.0     UAS23          4  ZI000092
35       03VCUA12  27/05/16  390.0    GASC76          8  ZI000511
36     01CEMCAZ50  06/06/16   80.0     COE05          4  ZI000696
...           ...       ...    ...       ...        ...       ...
4299     05CONP34  04/08/23    5.0  MRSZI013          8  ZI091454
4305         01TB  08/08/23   13.0   MRS1850          8  ZI090615
4370  05CODPL4512  04/09/23   10.0  MRSZI013          8  ZI093658
4381         01TB  08/09/23   10.0   MRS1850          8  ZI092883
4424    03LG41018  17/10/23    1.0    BMU860          4  ZI094019

[1823 rows x 6 columns]

In [3]:
df_clind

          Claart   Fecncre   Cant    Clacli  Clatipcli    Numfac
0      03PERC050  31/08/20    2.8   MRS2043          0  ZI030414
1       03VCUA12  31/08/20   15.6   MRS2043          0  ZI030414
2       04HBISL3  31/08/20    6.0   MRS2043          0  ZI030414
3       06PIJ834  31/08/20  200.0   MRS2043          0  ZI030414
4     01CEMCAZ50  07/04/16  300.0     API14          0  ZI000060
...          ...       ...    ...       ...        ...       ...
4439    01ARM204  09/11/23    3.0    SORI82          1  ZI098508
4440    01ARM124  09/11/23   11.0   MRS2043          0  ZI098563
4441     03TC401  11/11/23    0.5  MRSZI170          0  ZI098643
4442    01CEMBIG  13/11/23    2.0  MRSZI046          0  ZI097803
4443       GTRAS  13/11/23    1.0  MRSZI046          0  ZI097803

[2546 rows x 6 columns]

In [2]:
# Guardar dataframe
df_clind.to_csv('/Users/adrianamedrano/Documents/Ariana/Residencias/PrototipoResidencias/DataSets_Codigo/Mer_Clind.txt', index=False, encoding="latin1")