In [1]:
# Importar librerías
import pandas as pd
import os

# Establecer directorio de trabajo  
os.chdir("/Users/adrianamedrano/Documents/Ariana/Residencias/PrototipoResidencias/DataSets")

# Leer archivos CSV  
df_clifd = pd.read_csv('Clifd.txt', encoding="latin1")
df_clif = pd.read_csv("Clif.txt", encoding="latin1", dtype={20: str, 34: str, 35: str, 37: str, 39: str})
df_clientes = pd.read_csv('Clientes.txt', encoding="latin1")

# Mergear dataframes por campo Numfac
df_clifd = pd.merge(df_clifd, df_clif[['Numfac', 'Fecfac', 'Estado', 'Clacho', 'Clacli']],
                    on='Numfac',
                    how='left', 
                    suffixes=('', '_Clif'))

# Mergear con el dataframe df_clientes por campo Clacli
df_clifd = pd.merge(df_clifd, df_clientes[['Clacli', 'Clatipcli']],
                    left_on='Clacli',
                    right_on='Clacli',
                    how='left')

# Filtrar por Estado = 'yes' y Clacho nulo
df_clifd = df_clifd[(df_clifd['Estado_Clif'] == 'yes') & (df_clifd['Clacho'].isnull())][['Claart', 'Fecfac', 'Cant', 'Clacli', 'Clatipcli','Numfac']]
df_clifd

            Claart    Fecfac   Cant   Clacli  Clatipcli    Numfac
0       01CEMCAZ50  01/09/20   40.0    PSP14        0.0  ZI030471
1       01CEMCAZ50  31/08/20  100.0   RELP55        1.0  ZI030430
6       01CEMCAZ50  31/08/20  100.0   RELP55        1.0  ZI030435
7          01SON40  31/08/20   18.0   RELP55        1.0  ZI030435
8            GTRAS  31/08/20    1.0   RELP55        1.0  ZI030435
...            ...       ...    ...      ...        ...       ...
301370       GTRAS  13/11/23    3.0  MRS2043        0.0  ZI098837
301371     01VAR38  13/11/23   20.0    NMA15        0.0  ZI098838
301372   04HDDC412  13/11/23    4.0    NMA15        0.0  ZI098838
301373     01ALREC  13/11/23   10.0    NMA15        0.0  ZI098838
301374     01BLO15  13/11/23  500.0    NMA15        0.0  ZI098838

[283318 rows x 6 columns]

In [2]:
condicion = df_clifd['Clatipcli'].isin([4, 5, 8])
registros_eliminados = df_clifd[condicion].copy()
df_clifd = df_clifd[~condicion] 
print("Registros eliminados:")
registros_eliminados

Registros eliminados:

            Claart    Fecfac   Cant    Clacli  Clatipcli    Numfac
10          06CLA3  31/08/20    6.0     FAL03        4.0  ZI030436
11       01MALSOL6  31/08/20  100.0     FAL03        4.0  ZI030436
12        01CEMBIG  31/08/20    4.0   BLO1703        8.0  ZI030439
40        01COMB34  31/08/20   14.0  MRSZI013        8.0  ZI030449
41          01ARE4  31/08/20    8.0  MRSZI013        8.0  ZI030449
...            ...       ...    ...       ...        ...       ...
301094  01CEMCAZ50  13/11/23  200.0    ROLA75        8.0  ZI098769
301268    01ARM204  13/11/23    2.0    MERG68        4.0  ZI098811
301269   01MALSOL6  13/11/23    5.0    MERG68        4.0  ZI098811
301270  01CEMCAZ50  13/11/23    2.0    MERG68        4.0  ZI098811
301308       01YEM  13/11/23   50.0    MARG73        8.0  ZI098824

[32020 rows x 6 columns]

In [3]:
df_clifd

            Claart    Fecfac   Cant   Clacli  Clatipcli    Numfac
0       01CEMCAZ50  01/09/20   40.0    PSP14        0.0  ZI030471
1       01CEMCAZ50  31/08/20  100.0   RELP55        1.0  ZI030430
6       01CEMCAZ50  31/08/20  100.0   RELP55        1.0  ZI030435
7          01SON40  31/08/20   18.0   RELP55        1.0  ZI030435
8            GTRAS  31/08/20    1.0   RELP55        1.0  ZI030435
...            ...       ...    ...      ...        ...       ...
301370       GTRAS  13/11/23    3.0  MRS2043        0.0  ZI098837
301371     01VAR38  13/11/23   20.0    NMA15        0.0  ZI098838
301372   04HDDC412  13/11/23    4.0    NMA15        0.0  ZI098838
301373     01ALREC  13/11/23   10.0    NMA15        0.0  ZI098838
301374     01BLO15  13/11/23  500.0    NMA15        0.0  ZI098838

[251298 rows x 6 columns]

In [2]:
# Guardar dataframe 
df_clifd.to_csv('/Users/adrianamedrano/Documents/Ariana/Residencias/PrototipoResidencias/DataSets_Codigo/Mer_Clifd.txt', index=False, encoding="latin1")