In [1]:
# Importar librerías
import pandas as pd
import os

# Establecer directorio de trabajo
os.chdir("/Users/adrianamedrano/Documents/Ariana/Residencias/PrototipoResidencias/DataSets")

# Leer archivos CSV
df_clie = pd.read_csv('clie.txt', encoding='latin1')
df_clied = pd.read_csv('clied.txt', encoding='latin1')
df_clientes = pd.read_csv('Clientes.txt', encoding="latin1")

# Mergear dataframes por campo Nummov 
df_clied = pd.merge(df_clied, df_clie[['Nummov','Fecncre','Estado', 'Clacli']],
                    on='Nummov', 
                    how='left',
                    suffixes=('','_clie'))

# Mergear con el dataframe df_clientes por campo Clacli
df_clied = pd.merge(df_clied, df_clientes[['Clacli', 'Clatipcli']],
                    left_on='Clacli',
                    right_on='Clacli',
                    how='left')

# Filtrar por Estado = 'yes'
df_clied = df_clied[df_clied['Estado_clie'] == 'yes'][['Claart', 'Fecncre', 'Cant', 'Clacli', 'Clatipcli']]
df_clied

            Claart   Fecncre   Cant     Clacli  Clatipcli
0      04HBISPR100  31/08/20    8.0     RODH66          6
1          0614687  31/08/20    1.0     RODH66          6
2          06GAR20  31/08/20    4.0     RODH66          6
3          0624069  31/08/20    1.0     RODH66          6
4        04HPPB141  31/08/20  100.0     RODH66          6
...            ...       ...    ...        ...        ...
15970     01CAS661  14/09/23  350.0      MOHF8          0
15971   01CEMCAZ50  22/09/23   10.0  MRSZI0604          0
15972         01ES  31/10/23    2.0     BITL77          4
15973   01CEMCAZ50  09/11/23    3.0    MRS5219          0
15974         01ES  09/11/23    1.0     BITL77          4

[14845 rows x 5 columns]

In [2]:
condicion = df_clied['Clatipcli'].isin([4, 5, 8])
registros_eliminados = df_clied[condicion].copy()
df_clied = df_clied[~condicion] 
print("Registros eliminados:")
registros_eliminados

Registros eliminados:

             Claart   Fecncre   Cant  Clacli  Clatipcli
15     03LA10126500  20/09/17    3.0   MCS85          4
16       01CEMCAZ50  20/09/17  400.0   MCS85          4
17         04CORTMM  20/09/17    1.0   MCS85          4
18         04HDCM14  20/09/17    3.0   MCS85          4
19        01TRIPL58  20/09/17   58.0   MCS85          4
...             ...       ...    ...     ...        ...
15947      01COMB34  31/07/23    1.0  BITL77          4
15948        01GTRB  31/07/23    2.0  BITL77          4
15954    01CEMCAZ50  11/08/23  128.0  MARG73          8
15972          01ES  31/10/23    2.0  BITL77          4
15974          01ES  09/11/23    1.0  BITL77          4

[3300 rows x 5 columns]

In [3]:
df_clied

            Claart   Fecncre   Cant     Clacli  Clatipcli
0      04HBISPR100  31/08/20    8.0     RODH66          6
1          0614687  31/08/20    1.0     RODH66          6
2          06GAR20  31/08/20    4.0     RODH66          6
3          0624069  31/08/20    1.0     RODH66          6
4        04HPPB141  31/08/20  100.0     RODH66          6
...            ...       ...    ...        ...        ...
15968      0617367  28/08/23    1.0  MRSZI0809          0
15969     01CEMBIG  01/09/23    2.0    MRS4785          0
15970     01CAS661  14/09/23  350.0      MOHF8          0
15971   01CEMCAZ50  22/09/23   10.0  MRSZI0604          0
15973   01CEMCAZ50  09/11/23    3.0    MRS5219          0

[11545 rows x 5 columns]

In [2]:
# Guardar dataframe 
df_clied.to_csv('/Users/adrianamedrano/Documents/Ariana/Residencias/PrototipoResidencias/DataSets_Codigo//Mer_clied.txt', index=False, encoding="latin1")