In [2]:
import pandas as pd
import os

os.chdir("/Users/adrianamedrano/Documents/Ariana/Residencias/PrototipoResidencias/DataSets_Codigo")

df_clied = pd.read_csv('Mer_clied.txt', encoding='latin1')
df_clifd = pd.read_csv('Mer_Clifd.txt', encoding="latin1")
df_clird = pd.read_csv('Mer_Clird.txt', encoding='latin1')
df_clifad = pd.read_csv('Mer_Clifad.txt', encoding='latin1')
df_articulos = pd.read_csv('/Users/adrianamedrano/Documents/Ariana/Residencias/PrototipoResidencias/DataSets/Articulos.txt', encoding='latin1')

df_clied.rename(columns={'Fecncre': 'Fec'}, inplace=True)
df_clifd.rename(columns={'Fecfac': 'Fec'}, inplace=True)
df_clird.rename(columns={'Fecrem': 'Fec'}, inplace=True)
df_clifad.rename(columns={'Fecfac': 'Fec'}, inplace=True)
df_resultado = pd.concat([df_clied[['Claart', 'Cant', 'Fec']],
                          df_clifd[['Claart', 'Cant', 'Fec']],
                          df_clird[['Claart', 'Cant', 'Fec']],
                          df_clifad[['Claart', 'Cant', 'Fec']]])
df_resultado.reset_index(drop=True, inplace=True)
numeros_factura = df_clifd['Numfac'].unique()
if len(numeros_factura) < len(df_resultado):
    numeros_factura = list(numeros_factura) * (len(df_resultado) // len(numeros_factura)) + list(numeros_factura)[:len(df_resultado) % len(numeros_factura)]
df_resultado['Numfac'] = numeros_factura[:len(df_resultado)]
df_resultado

             Claart   Cant       Fec    Numfac
0       04HBISPR100    8.0  31/08/20  ZI030471
1           0614687    1.0  31/08/20  ZI030430
2           06GAR20    4.0  31/08/20  ZI030435
3           0624069    1.0  31/08/20  ZI030440
4         04HPPB141  100.0  31/08/20  ZI030441
...             ...    ...       ...       ...
357333     05COPL34    5.0  10/11/23  ZI064692
357334    05CODPL34    4.0  11/11/23  ZI064694
357335    05TUBPL34    2.0  11/11/23  ZI064693
357336     01CEMBIG    2.0  13/11/23  ZI064695
357337    06MACI122  148.0  13/11/23  ZI064698

[357338 rows x 4 columns]

In [3]:
import pandas as pd
import os
df_clind = pd.read_csv('Mer_Clind.txt', encoding='latin1')
df_merged = pd.merge(df_resultado, df_clind[['Numfac']], on='Numfac', how='left', indicator=True)
df_merged = df_merged[df_merged['_merge'] == 'left_only']
df_merged.drop(columns=['_merge'], inplace=True)
df_merged = df_merged.copy()
df_merged.drop(columns=['Numfac'], inplace=True)
df_merged

             Claart   Cant       Fec
0       04HBISPR100    8.0  31/08/20
1           0614687    1.0  31/08/20
2           06GAR20    4.0  31/08/20
3           0624069    1.0  31/08/20
4         04HPPB141  100.0  31/08/20
...             ...    ...       ...
362034     05COPL34    5.0  10/11/23
362035    05CODPL34    4.0  11/11/23
362036    05TUBPL34    2.0  11/11/23
362037     01CEMBIG    2.0  13/11/23
362038    06MACI122  148.0  13/11/23

[350101 rows x 3 columns]

In [4]:
import pandas as pd
os.chdir("/Users/adrianamedrano/Documents/Ariana/Residencias/PrototipoResidencias/DataSets_Codigo")
df_articulos = pd.read_csv('/Users/adrianamedrano/Documents/Ariana/Residencias/PrototipoResidencias/DataSets/Articulos.txt', encoding='latin1')
df_merged['Fec'] = pd.to_datetime(df_merged['Fec'])
df_merged['Año'] = df_merged['Fec'].dt.year
clave_articulo = input("Por favor, ingrese la clave del artículo que desea filtrar: ")
df_filtrado = df_merged[(df_merged['Claart'] == clave_articulo) & (df_merged['Año'] >= 2017)]
df_ventas_por_fecha = df_filtrado.groupby(['Claart', 'Fec'])['Cant'].sum().reset_index()
df_ventas = pd.merge(df_ventas_por_fecha, df_articulos[['Claart', 'Desart']], on='Claart', how='left')
df_ventas = df_ventas[['Claart', 'Desart', 'Cant', 'Fec']]
print("Ventas por fecha para la clave del artículo:", clave_articulo)
df_ventas

Ventas por fecha para la clave del artículo: 01ACC

   Claart               Desart   Cant        Fec
0   01ACC  Acelerante concreto   40.0 2017-07-28
1   01ACC  Acelerante concreto   15.0 2017-11-17
2   01ACC  Acelerante concreto   60.0 2017-12-28
3   01ACC  Acelerante concreto  200.0 2018-01-02
4   01ACC  Acelerante concreto    2.0 2018-02-14
..    ...                  ...    ...        ...
83  01ACC  Acelerante concreto    2.0 2023-10-04
84  01ACC  Acelerante concreto   20.0 2023-10-10
85  01ACC  Acelerante concreto    2.0 2023-10-18
86  01ACC  Acelerante concreto   20.0 2023-10-28
87  01ACC  Acelerante concreto   30.0 2023-12-08

[88 rows x 4 columns]

In [ ]:
df_ventas.to_csv('/Users/adrianamedrano/Documents/Ariana/Residencias/PrototipoResidencias/DataSets_Codigo/Mer_Filtrado.txt', index=False, encoding="latin1")